Make sure you have installed the python_speech_features libraryto import the mfcc function in the code. 
You can install it using pip by running the following command:

" pip install python_speech_features "
